body {
  margin-top: 30px;
}

.outer-container {
  @include outer-container;
}

.button {
  @extend %button;
}

%base-container {
  background-color: white;
  border-radius: 5px;
  padding: 15px;
  box-shadow: 0 0 3em gray;
}

